html, body{
	background-color: rgb(105, 105, 105);
}
main{
	background-color: white;
	padding: 5% 5%;
}
h1{
	text-align: center;
}
li{
	display: inline-block;
	margin-right: 5%;
	margin-left: 5%;	
}
section ul{
	margin: 0 auto;
}
a{
	text-decoration: none;
	border-radius: 10%;
}


section{
	height: 100%;
	width: 100%;
	line-height: 2em;
}

body{
	background-color: rgb();
}
img{
	display: block;
	border-radius: 20px;
	margin: 0 auto;
}
main{
	margin: 5% 20%;
}